.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 32px;
  width: 100vw;
}

.container-character {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  height: 100%;
  padding: 16px;
  border: 1px solid lightgray;

  strong {
    font-size: 24px;
  }

  img {
    width: 350px;
    height: 300px;
    object-fit: cover;
  }
}